/* 10/03/21 Urubici */
/* Dicas de leituras no fim do documento. */

/* >-<>-<>-<>-<>-<>-<>-<>-<>-<>-< GERAL >-<>-<>-<>-<>-<>-<>-<>-<>-<>-<>-< */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap');    /* SPACE MONO - para título. WORK SANS - para o corpo. */

body{
    color: #071013;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    /*  */
    margin: 0;
}

::-webkit-scrollbar {       /* todo - para ocultar a barra de rolagem */
    display: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Space Mono', monospace;
}

a{
    color: #1E91D6;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
}

/* >-<>-<>-<>-<>-<>-<>-<>-<>-<>-< SEÇÕES >-<>-<>-<>-<>-<>-<>-<>-<>-<>-<>-< */

/* )~()~()~()~()~()~()~()~()~()~( HEADER )~()~()~()~()~()~()~()~()~()~()~( */

header{
    background: url("../imagens/churra.jpg") fixed no-repeat;
    /*  */
    display: table;     /* todo - solução para alinhamento (1). */
}

div#header-overlay{
    background: rgba(7, 16, 19, 0.6);
}

div#header-conteuhdo{          /* Conteúdo de header. */
    color: #fff;
    text-align: center;
    /*  */
    height: 100vh;
    width: 100vw;
    padding: 0 20% 0 20%;
    /*  */
    vertical-align: middle;        /* todo - solução para alinhamento (2). */
    display: table-cell;
}
    header h1{
        text-shadow: 0.07em 0.07em 0.07em #071013;
        font-size: 7em;
        margin: 5vw 0 13vw 0;
    }

    header h2{
        text-shadow: 0.05em 0.05em 0.05em #071013;
        text-transform: uppercase;
        line-height: 2.1em;
        font-size: 1.9em;
        font-weight: 600;
        /*  */
        margin: 0 0 5vw 0;
    }

div#ihcone{
    box-sizing: border-box;
    background-image: radial-gradient(circle, hsl(195, 46%, 15%), hsla(195, 46%, 15%, 0.3));
    border-radius: 500vmax;
    /*  */
    position: absolute;
    top: 5%;
    left: 2%;
    /*  */
    display: table;     /* todo - solução para alinhamento (1). */
}

div#ihcone div{
    text-shadow:  0.1em 0.1em 0.2em #071013;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Space Mono', monospace;
    font-size: 3.5em;
    font-weight: 900;
    /*  */
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    padding-left: 0.1em;
    /*  */
    vertical-align: middle;        /* todo - solução para alinhamento (2). */
    display: table-cell;
}

    div#ihcone div:hover{
        color:  #F4442E;
    }

/* )~()~()~()~()~()~()~()~()~()~( NAV )~()~()~()~()~()~()~()~()~()~()~( */

nav{
    line-height: 10vh;
    /*  */
    position: absolute;
    top: 20vh;
    right: 2vw;
}

    nav:hover span{
        visibility: visible;
    }

nav div{
    background-color: hsl(195, 46%, 15%);
    padding: 1rem;
    border-radius: 1rem;
    /*  */
    float:right;
    position: relative;
    bottom: 6.8vh;
}

    a:hover div{
        background-color: #F4442E;
    }

nav span{
    color: #fff;
    text-shadow: 0.1em 0.1em #071013;
    text-align: right;
    font-weight: 200;
    /*  */
    margin-right: 2.8em;
    /*  */
    display: block;
    visibility: hidden;
}

    a:hover span{
        font-size: 1.2em;
    }

/* )~()~()~()~()~()~()~()~()~()~( SECTION # FUNCIONAMENTO )~()~()~()~()~()~()~()~()~()~()~( */

section#funcionamento{  /* A imagem */
    text-align: center;
    /*  */
    height: 90vh;
    background-attachment: scroll;
    background-image: url(../imagens/folha-fundo.jpg);
    background-position: 0px 55%;
    background-repeat: no-repeat;
    background-size: 100vw;
}

    div#funcionamento-overlay{      /* A cor */
        background-color: hsla(42, 100%, 65%, 0.6);
    }

div#boas-vindas{
    padding-top: 7vh;
    padding-right: 22%;
    padding-left: 22%;
}

    div#boas-vindas h2{
        color: #F4442E;
        text-shadow: 0.05em 0.05em 0.5em #F4442E;
        font-size: 3em;
        font-weight: bolder;
        /*  */
        margin: 0 auto 1em auto;
    }

    div#boas-vindas h3{
        font-style: italic;
    }

    div#boas-vindas p{
        font-weight: 500;
        line-height: 2em;
        /*  */
        padding-left: 18%;
        padding-right: 18%;
    }

div#cidade{
    height: 25vw;
    width: 28vw;
    margin-top: 2vw;
    margin-left: 20%;
    /*  */
    display: table;     /* todo - solução para alinhamento (1). */
    float: left;
}

    div#funcionamento-cidade{
        line-height: 2vw;
        font-weight: 500;
        /*  */
        overflow: auto;
        /*  */
        display: table-cell;         /* todo - solução para alinhamento (2). */
        vertical-align: middle;       
    }

div#horahrio{
    height: 25vw;
    width: 25vw;
    background-image: url(../imagens/mesa.3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3vw;
    margin-right: 20%;
    /*  */
    float: right;
}

    div#horahrio p{
        color: white;
        font-size: 1.6vw;
        /*  */
        height: 32%;
        width: 100%;
        background-color:rgba(7, 16, 19, 0.4);
        padding-top: 17vw;
        margin: 0;
    }

    div#horahrio span{
        font-weight: 800;
        /*  */
        margin-top: 1vw;
        /*  */
        display: block;
    }

div#funcionamento-estilo{
    padding-bottom: 31vw;
    /*  */
    visibility: hidden;
}

/* )~()~()~()~()~()~()~()~()~()~( SECTION # PRECCOS )~()~()~()~()~()~()~()~()~()~()~( */

/*
    >>> CONTEÚDO 

    Texto (Cor, Sombreamento, Riscos , Alinhamento, Espaçamento, Transformações)
    Fonte (Família, Tamanho, Peso, Estilo)
    Mais propriedades relacionadas ao conteúdo (Em ordem alfabética.)

    >>> CAIXA

    Width e Height (Overflow)
    Background
    Padding
    Border
    Outline
    Margin

    >>> POSIÇÃO

    Display
    Float
    Clear
    Position
    Top, Right, Bottom, Lef 

    >>> OUTRAS/ESPECIFICAS
    
    Propriedades exclusiva do elemento ou que não relacionam a divisões anteriores. Ordenar em ordem alfabética
 */