/* 10/03/21 Urubici */
/* Dicas de leituras no fim do documento. */

/* >-<>-<>-<>-<>-<>-<>-<>-<>-<>-< GERAL >-<>-<>-<>-<>-<>-<>-<>-<>-<>-<>-< */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap');    /* SPACE MONO - para título. WORK SANS - para o corpo. */

body{
    color: #071013;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
    /*  */
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Space Mono', monospace;
}

a{
    color: #1E91D6;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
}

/* >-<>-<>-<>-<>-<>-<>-<>-<>-<>-< SEÇÕES >-<>-<>-<>-<>-<>-<>-<>-<>-<>-<>-< */

/* )~()~()~()~()~()~()~()~()~()~( HEADER )~()~()~()~()~()~()~()~()~()~()~( */

header{
    background: url("../imagens/churra.jpg") fixed no-repeat;
}

div#header{     /* Conteúdo de header. */
    color: #fff;
    text-align: center;
    /*  */
    min-height: max-content;
    height: 100vh;
    overflow: auto;
    background: rgba(7, 16, 19, 0.6);
}
    header h1{
        font-size: 7em;
        margin: 0 0 2em 0;
    }

    header h2{
        text-transform: uppercase;
        line-height: 3.6em;
        font-size: 1.8em;
        font-weight: 600;
        /*  */
        margin: 0;
    }

/*
    CONTEÚDO 

    Texto (Cor, Sombreamento, Riscos , Alinhamento, Espaçamento, Transformações)
    Fonte (Família, Tamanho, Peso, Estilo)
    Mais propriedades relacionadas ao conteúdo (Em ordem alfabética.)

    CAIXA

    Width e Height (Overflow)
    Background
    Padding
    Border
    Outline
    Margin

    POSIÇÃO

    Display
    Position
    Top, Right, Bottom, Left
    Float
    Clear

    OUTRAS/ESPECIFICAS
    
    Propriedades exclusiva do elemento ou que não relacionam a divisões anteriores. Ordenar em ordem alfabética
*/