section#preccos{
    background-image: url(../../imagens/carne.jpg);
    background-size: 100vw 40vw;
    background-repeat: no-repeat;
    background-position: bottom;
}

    div#preccos-overlay{
        /* background-color: hsla(195, 46%, 5%, 0.5); */
        background-color: hsla(195, 46%, 5%, 0.6);
    }

    div#preccos-cabecca{
        text-align: center;
        /*  */
        padding: 3vh 0;
        margin: auto 22%;
    }

        div#preccos-cabecca h3{
            color: #FFC84A;
            text-shadow: 1.5px 1.5px 2px #000;
            font-size: 3em;
            font-weight: bolder;
            /*  */
            margin: 1vw 0 0 0;
        }

        div#preccos-cabecca p{
            color: #fff;
            line-height: 2em;
            font-style: italic;
            /*  */
            box-sizing: border-box;
            width: 25em;
            margin: 1.8em auto 4vh auto;
        }

div#preccos-partileira{
    margin: auto 19.5vw auto 20.5vw ; /* para centralizar o mosaico */
}

div#preccos-rodizio, div#preccos-marmita, div#preccos-promoccamho,
div#preccos-imagem-1, div#preccos-imagem-2, div#preccos-imagem-3{
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    display: inline-block;
    overflow: hidden;
    margin: -0.2vw -0.3vw;
    outline: solid 0.22em;
    box-shadow: 7px 7px 10px #071013;
}

    div#preccos-rodizio, div#preccos-marmita, div#preccos-promoccamho{      /* texto */
        background-color: hsl(42, 100%, 65%);
        padding: 1vw;
        text-align: center;
    }

        div#preccos-rodizio h3, div#preccos-marmita h3{     /* título */
            font-weight: bolder;
            margin: 0;
            font-size: 2vw;
        }

        div#preccos-promoccamho h2{     /* título */
            color: #F4442E;
            text-align: left;
            font-size: 3.2vw;
            line-height: 3vw;
            margin: 0;
            padding: 0.8vw;
        }

        h2 span#preccos-tralha{     /* título */
            color: #071013;
            font-size: 1.8vw;
        }

        div#preccos-rodizio p, div#preccos-marmita p, div#preccos-promoccamho p{        /* paragrafo */
            text-align: center;
            font-style: italic;
            font-size: 1.5vw;
            font-weight: lighter;
        }

        div#preccos-rodizio span, div#preccos-marmita span{     /* valor */
            color: #000000ed;
            font-size: 2vw;
            font-weight: bolder;
        }

        div#preccos-partileira span.preccos-maior{
            font-size: 3.5vw;
            margin-right: -0.5vw;
        }

        div#preccos-promoccamho a{      /* link */
            color:#FFF;
            text-shadow: 2px 2px 3px #000;
            font-size: 1.5vw;
            line-height: 5vw;
        }

div#preccos-imagem-1, div#preccos-imagem-2, div#preccos-imagem-3{         /* imagens */
    background-color: green;
}

div#preccos-imagem-1{
    background-image: url(../../imagens/vinho.jpg);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
}
div#preccos-imagem-2{
    background-image: url(../../imagens/costela.jpg);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    background-position: 0;
}
div#preccos-imagem-3{
    background-image: url(../../imagens/buffet.jpg);
    background-size: 20vw 20.01vw;
    background-repeat: no-repeat;
}

div#preccos-botamho{
    text-align: center;
    font-size: 1.1em;
    margin: 10vh auto 5vh auto;
}

div#preccos-botamho a{
    color: #fff;
    background-color: #F4442E;
    border-radius: 25px;
    padding: 8px 17px 12px 17px;
}    

.escondido{
    visibility: hidden;
}